In [1]:
## Importando o necessário
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import bokeh.plotting as bkplt
import bokeh.io as bkio
import bokeh.layouts as bklt
import bokeh.charts as bkcht
import bokeh.models as bkmdl
import bokeh.palettes as palette

## Definindo URLs necessárias
componentes_url = 'http://bit.do/componentes-curriculares'
componentes_disc_url = 'http://bit.ly/2yIvZLs' #'http://bit.do/componentes_curriculares_presenciais'
turmas_url = [('http://bit.do/turmas_20' + str(13+i) + '_1') for i in range(5)]
turmas_url = turmas_url + [('http://bit.do/turmas_20' + str(13+i) + '_2') for i in range(5)]
mat_comp_url = [('http://bit.do/mat_comp_20' + str(13+i) + '_1') for i in range(5)]
mat_comp_url = mat_comp_url + [('http://bit.do/mat_comp_20' + str(13+i) + '_2') for i in range(5)]
turmas_periodo = [('20' + str(13+i) + '.1') for i in range(5)]
turmas_periodo = turmas_periodo + [('20' + str(13+i) + '.2') for i in range(5)]

In [2]:
componentes = pd.read_csv(componentes_url,';')
componentes.head(2)

,id_curso,nome,id_coordenador,coordenador,situacao_curso,nivel_ensino,grau_academico,modalidade_educacao,area_conhecimento,tipo_oferta,...,municipio,campus,id_unidade_responsavel,unidade_responsavel,website,data_funcionamento,codigo_inep,dou,portaria_reconhecimento,convenio_academico
0,2000004,ADMINISTRAÇÃO,NaN,NaN,ATIVO,GRADUAÇÃO,BACHARELADO,Presencial,Ciências Sociais Aplicadas,Regular,...,CURRAIS NOVOS,Campus Currais Novos,1482,CENTRO DE ENSINO SUPERIOR DO SERIDÓ,NaN,1978-09-15,12355.0,2017-04-04,Portaria nº 272/2017 - MEC,NaN
1,2000002,ADMINISTRAÇÃO,24344.0,CARLOS ALBERTO FREIRE MEDEIROS,ATIVO,GRADUAÇÃO,BACHARELADO,Presencial,Ciências Sociais Aplicadas,Regular,...,NATAL,Campus Central,443,CENTRO DE CIÊNCIAS SOCIAIS APLICADAS,http://sol.ccsa.ufrn.br/ccsa/areas/adm/adminis...,1971-09-16,12311.0,2017-04-04,Portaria nº 272/2017 - MEC,NaN

In [3]:
disciplinas = pd.read_csv(componentes_disc_url,';')
disciplinas.head(2)

,id_componente,tipo_componente,codigo,nivel,nome,unidade_responsavel,ch_teorico,ch_pratico,ch_estagio,ch_total,...,ementa,bibliografia,objetivos,conteudo,competencias_habilidades,referencias,ano_programa,periodo_programa,modalidade,curso_componente
0,18642,DISCIPLINA,MUT721,T,LABORATÓRIOS ELETIVOS,ESCOLA DE MÚSICA,60,0,0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
1,18643,DISCIPLINA,MUT508,T,COMPOSIÇÃO EM MÚSICA POPULAR III,ESCOLA DE MÚSICA,60,0,0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN

In [4]:

## Filtrando apenas o componente BTI
imd = disciplinas[disciplinas['codigo'].str.contains("IMD")]
imd.head(2)

,id_componente,tipo_componente,codigo,nivel,nome,unidade_responsavel,ch_teorico,ch_pratico,ch_estagio,ch_total,...,ementa,bibliografia,objetivos,conteudo,competencias_habilidades,referencias,ano_programa,periodo_programa,modalidade,curso_componente
17834,51954,MODULO,IMD0001,L,INOVAÇÃO TECNOLÓGICA,INSTITUTO METROPOLE DIGITAL,15,0,0,15,...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,RESIDÊNCIA EM ENGENHARIA DE SOFTWARE
18093,52247,MODULO,IMD0002,L,INOVAÇÃO TECNOLÓGICA,INSTITUTO METROPOLE DIGITAL,30,0,0,30,...,Conceito de inovação. Tipos de inovação. Relaç...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,RESIDÊNCIA EM ENGENHARIA DE SOFTWARE

In [5]:
## Fazendo Download dos CSVs das turmas
turmas_dfs = []
for url in turmas_url:
    print(url)
    turmas_dfs.append(pd.read_csv(url,';'))

http://bit.do/turmas_2013_1
http://bit.do/turmas_2014_1
http://bit.do/turmas_2015_1
http://bit.do/turmas_2016_1
http://bit.do/turmas_2017_1
http://bit.do/turmas_2013_2
http://bit.do/turmas_2014_2
http://bit.do/turmas_2015_2
http://bit.do/turmas_2016_2
http://bit.do/turmas_2017_2

In [6]:
## Fazendo Download dos CSVs das matriculas em componente curricular
mat_comp_dfs = []
for url in mat_comp_url:
    print(url)
    mat_comp_dfs.append(pd.read_csv(url,';'))

http://bit.do/mat_comp_2013_1
http://bit.do/mat_comp_2014_1
http://bit.do/mat_comp_2015_1
http://bit.do/mat_comp_2016_1
http://bit.do/mat_comp_2017_1
http://bit.do/mat_comp_2013_2
http://bit.do/mat_comp_2014_2
http://bit.do/mat_comp_2015_2
http://bit.do/mat_comp_2016_2
http://bit.do/mat_comp_2017_2

In [7]:
print(disciplinas.columns)
disciplinas.head()

Index(['id_componente', 'tipo_componente', 'codigo', 'nivel', 'nome',
       'unidade_responsavel', 'ch_teorico', 'ch_pratico', 'ch_estagio',
       'ch_total', 'ch_dedicada_docente', 'ch_ead', 'cr_max_ead',
       'permite_horario_flexivel', 'qtd_unidades', 'procedimentos_avaliacao',
       'equivalencia', 'pre_requisito', 'co_requisito', 'ementa',
       'bibliografia', 'objetivos', 'conteudo', 'competencias_habilidades',
       'referencias', 'ano_programa', 'periodo_programa', 'modalidade',
       'curso_componente'],
      dtype='object')

,id_componente,tipo_componente,codigo,nivel,nome,unidade_responsavel,ch_teorico,ch_pratico,ch_estagio,ch_total,...,ementa,bibliografia,objetivos,conteudo,competencias_habilidades,referencias,ano_programa,periodo_programa,modalidade,curso_componente
0,18642,DISCIPLINA,MUT721,T,LABORATÓRIOS ELETIVOS,ESCOLA DE MÚSICA,60,0,0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
1,18643,DISCIPLINA,MUT508,T,COMPOSIÇÃO EM MÚSICA POPULAR III,ESCOLA DE MÚSICA,60,0,0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
2,18644,DISCIPLINA,MUT516,T,CO-REPETIÇÃO,ESCOLA DE MÚSICA,30,0,0,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
3,18645,DISCIPLINA,MUT520,T,CONTRABAIXO ACÚSTICO I,ESCOLA DE MÚSICA,30,0,0,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
4,18646,DISCIPLINA,MUT165,T,PIANO COMPLEMENTAR I,ESCOLA DE MÚSICA,15,0,0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN

In [8]:
## Facilitando a visualização do dataframe diminuindo o número das colunas
disc_cols = ['id_componente', 'tipo_componente', 'codigo', 'nivel', 'nome',
             'ch_total', 'ano_programa', 'periodo_programa', 'modalidade', 'curso_componente']
disciplinas = disciplinas[disc_cols]
disciplinas_bti = disciplinas[disciplinas['curso_componente'] == 'TECNOLOGIA DA INFORMAÇÃO']
disciplinas_bti.reset_index(inplace=True,drop='index')
disciplinas_bti.head()

,id_componente,tipo_componente,codigo,nivel,nome,ch_total,ano_programa,periodo_programa,modalidade,curso_componente
0,52535,MODULO,IMD0015,G,TECNOLOGIA DA INFORMAÇÃO E SOCIEDADE,30,2013.0,1.0,Presencial,TECNOLOGIA DA INFORMAÇÃO
1,52536,BLOCO,IMD0011,G,CIRCUITOS LÓGICOS,90,NaN,NaN,Presencial,TECNOLOGIA DA INFORMAÇÃO
2,52650,BLOCO,IMD0012,G,INTRODUÇÃO ÀS TÉCNICAS DE PROGRAMAÇÃO,90,NaN,NaN,Presencial,TECNOLOGIA DA INFORMAÇÃO
3,52653,MODULO,IMD0013,G,ELEMENTOS DE MATEMÁTICA PARA COMPUTAÇÃO,90,2013.0,1.0,Presencial,TECNOLOGIA DA INFORMAÇÃO
4,52656,MODULO,IMD0014,G,INTRODUÇÃO AO CÁLCULO,60,2013.0,1.0,Presencial,TECNOLOGIA DA INFORMAÇÃO

In [9]:

## Fazendo a concatenação para trabalhar apenas com um DataFrame
turmas_df = pd.concat(turmas_dfs, keys=turmas_periodo)
## Filtrando o DataFrame para otimizar as buscas
turmas_df = turmas_df[turmas_df['nivel_ensino'] == 'GRADUAÇÃO']
turmas_df = turmas_df[turmas_df['modalidade_participantes'] == 'Presencial']
turmas_df = turmas_df[turmas_df['campus_turma'] == 'Campus Central']
turmas_df.reset_index(inplace=True,level=0)
turmas_df.reset_index(inplace=True,drop='index')
turmas_df['ano_periodo'] = turmas_df.level_0
print(turmas_df.columns)

Index(['level_0', 'id_turma', 'codigo_turma', 'id_docente_interno',
       'id_docente_externo', 'observacao', 'id_componente_curricular',
       'nivel_ensino', 'campus_turma', 'local', 'ano', 'periodo',
       'data_inicio', 'data_fim', 'descricao_horario', 'total_solicitacoes',
       'capacidade_aluno', 'tipo', 'distancia', 'data_consolidacao',
       'agrupadora', 'id_turma_agrupadora', 'qtd_aulas_lancadas',
       'situacao_turma', 'convenio', 'modalidade_participantes', 'Unnamed: 25',
       'ano_periodo'],
      dtype='object')

In [10]:
## Facilitando a visualização do dataframe diminuindo o número das colunas
colunas_turma = ['id_turma', 'codigo_turma', 'id_docente_interno', 'id_docente_externo', 'id_componente_curricular',
                 'ano_periodo', 'descricao_horario', 'tipo', 'situacao_turma']
turmas_df = turmas_df[colunas_turma]
turmas_df.reset_index(inplace=True,drop='index')
turmas_df.head()

,id_turma,codigo_turma,id_docente_interno,id_docente_externo,id_componente_curricular,ano_periodo,descricao_horario,tipo,situacao_turma
0,1196784,01,26322,NaN,46397.0,2013.1,5T3456,REGULAR,CONSOLIDADA
1,1196812,01,5.75559e+06,NaN,25562.0,2013.1,5M456,REGULAR,CONSOLIDADA
2,1196813,02,5.75428e+06,NaN,25562.0,2013.1,3T123,REGULAR,CONSOLIDADA
3,1196813,02,5.75405e+06,NaN,25562.0,2013.1,3T123,REGULAR,CONSOLIDADA
4,1196814,03,5.75509e+06,NaN,25562.0,2013.1,6T123,REGULAR,CONSOLIDADA

In [11]:
## Fazendo a concatenação para trabalhar com apenas um DataFrame
mat_comp_df = pd.concat(mat_comp_dfs, keys=turmas_periodo)
mat_comp_df.reset_index(inplace=True,level=0)
mat_comp_df.reset_index(inplace=True,drop='index')
mat_comp_df['ano_periodo'] = mat_comp_df.level_0
print(mat_comp_df.columns)

Index(['level_0', 'Unnamed: 10', 'descricao', 'discente', 'faltas_unidade',
       'id_curso', 'id_turma', 'media_final', 'nota', 'numero_total_faltas',
       'reposicao', 'unidade', 'ano_periodo'],
      dtype='object')

In [12]:
## Filtrando apenas o componente BTI
bti = componentes[componentes['nome'] == 'TECNOLOGIA DA INFORMAÇÃO']
bti.reset_index(drop='index',inplace=True)
bti.head()

,id_curso,nome,id_coordenador,coordenador,situacao_curso,nivel_ensino,grau_academico,modalidade_educacao,area_conhecimento,tipo_oferta,...,municipio,campus,id_unidade_responsavel,unidade_responsavel,website,data_funcionamento,codigo_inep,dou,portaria_reconhecimento,convenio_academico
0,92127264,TECNOLOGIA DA INFORMAÇÃO,5756802.0,GUSTAVO GIRAO BARRETO DA SILVA,ATIVO,GRADUAÇÃO,BACHARELADO,Presencial,Ciências Exatas e da Terra,Regular,...,NATAL,NaN,6069,INSTITUTO METROPOLE DIGITAL,NaN,NaN,1190414.0,2016-05-02,Portaria nº 127/2016 - MEC,NaN

In [13]:
## Filtrando pelo id do bti
mat_comp_bti = mat_comp_df[mat_comp_df['id_curso'] == bti['id_curso'][0]]
## Limpando DataFrame
colunas_mat_comp_bti = ['id_turma', 'descricao', 'discente', 'media_final',
                        'nota', 'reposicao', 'unidade', 'ano_periodo']
mat_comp_bti = mat_comp_bti[colunas_mat_comp_bti]
mat_comp_bti.reset_index(inplace=True,drop='index')
mat_comp_bti.head()

,id_turma,descricao,discente,media_final,nota,reposicao,unidade,ano_periodo
0,1203381,TRANCADO,da437177e090ab90ea33ba772cfbae03,NaN,2.6,f,1.0,2013.1
1,1203381,TRANCADO,da437177e090ab90ea33ba772cfbae03,NaN,NaN,f,2.0,2013.1
2,1203381,TRANCADO,da437177e090ab90ea33ba772cfbae03,NaN,NaN,f,3.0,2013.1
3,1203381,APROVADO,59d9aee9a3b15f0b735e28fe4a692a8e,7.0,7.1,f,1.0,2013.1
4,1203381,APROVADO,59d9aee9a3b15f0b735e28fe4a692a8e,7.0,6.0,f,2.0,2013.1

In [21]:
## Filtrando as disciplinas de LP II
lp2 = disciplinas_bti[disciplinas_bti['nome'] == 'LINGUAGEM DE PROGRAMAÇÃO II']
lp2

,id_componente,tipo_componente,codigo,nivel,nome,ch_total,ano_programa,periodo_programa,modalidade,curso_componente
77,55027,MODULO,IMD0040,G,LINGUAGEM DE PROGRAMAÇÃO II,60,2017.0,1.0,Presencial,TECNOLOGIA DA INFORMAÇÃO

In [80]:
test = disciplinas_bti[disciplinas_bti['nome'] == 'LABORATÓRIO DE PROGRAMAÇÃO II']
#test = test[test['ano_programa'] == 2014.1]
test

,id_componente,tipo_componente,codigo,nivel,nome,ch_total,ano_programa,periodo_programa,modalidade,curso_componente
53,52786,MODULO,IMD0035,G,LABORATÓRIO DE PROGRAMAÇÃO II,30,2013.0,2.0,Presencial,TECNOLOGIA DA INFORMAÇÃO

In [23]:
turmas_lp2 = []
for cod in lp['id_componente'].unique():
    turmas_lp2.append(turmas_df[turmas_df['id_componente_curricular'] == cod])
turmas_lp2 = pd.concat(turmas_lp2, keys=lp2['id_componente'].unique())
turmas_lp2.reset_index(inplace=True,level=0)
turmas_lp2.reset_index(inplace=True,drop='index')
turmas_lp2.head(2)

,level_0,id_turma,codigo_turma,id_docente_interno,id_docente_externo,id_componente_curricular,ano_periodo,descricao_horario,tipo,situacao_turma
0,55027,1239420,01,5.75511e+06,NaN,55027.0,2015.1,24M56 (02/02/2015 - 20/06/2015),REGULAR,CONSOLIDADA
1,55027,1239421,02,5.75511e+06,NaN,55027.0,2015.1,24M56 (02/02/2015 - 20/06/2015),REGULAR,EXCLUÍDA

In [37]:
## Capturando os alunos de LP II
alunos_lp2 = []
for cod in turmas_lp2['id_turma'].unique():
    alunos_lp2.append(mat_comp_bti[mat_comp_bti['id_turma'] == np.int64(cod)])
alunos_lp2 = pd.concat(alunos_lp2, keys=turmas_lp2['id_turma'].unique())
alunos_lp2.reset_index(inplace=True,level=0)
alunos_lp2.reset_index(inplace=True,drop='index')
alunos_lp2.head(3)

,level_0,id_turma,descricao,discente,media_final,nota,reposicao,unidade,ano_periodo
0,1239420,1239420,EXCLUIDA,8d2a3b00a41279debf258bc6c6305205,NaN,NaN,NaN,NaN,2015.1
1,1239420,1239420,APROVADO POR NOTA,cbe40ea1cb2d08a912937532829ea391,6.6,6.9,f,1.0,2015.1
2,1239420,1239420,APROVADO POR NOTA,cbe40ea1cb2d08a912937532829ea391,6.6,2.8,t,2.0,2015.1

In [38]:
unidade1 = alunos_lp2[alunos_lp2['unidade'] == 1.0]
unidade2 = alunos_lp2[alunos_lp2['unidade'] == 2.0]
unidade3 = alunos_lp2[alunos_lp2['unidade'] == 3.0]
unidade1.reset_index(drop='index',level=0,inplace=True)
unidade2.reset_index(drop='index',level=0,inplace=True)
unidade3.reset_index(drop='index',level=0,inplace=True)
alunos_lp2_u1_df = unidade1.drop(['level_0','reposicao','unidade'],axis=1)
alunos_lp2_u2_df = unidade2.drop(['level_0','reposicao','unidade'],axis=1)
alunos_lp2_u3_df = unidade3.drop(['level_0','reposicao','unidade'],axis=1)

print(alunos_lp2_u1_df.descricao.unique())
alunos_lp2_u1_df.head(3)

['APROVADO POR NOTA' 'REPROVADO POR MÉDIA E POR FALTAS' 'APROVADO'
 'REPROVADO' 'CANCELADO' 'TRANCADO' 'EXCLUIDA' 'REPROVADO POR NOTA'
 'MATRICULADO']

,id_turma,descricao,discente,media_final,nota,ano_periodo
0,1239420,APROVADO POR NOTA,cbe40ea1cb2d08a912937532829ea391,6.6,6.9,2015.1
1,1239420,REPROVADO POR MÉDIA E POR FALTAS,617302e28daaf9ab54aaae256040ba3f,2.8,5.7,2015.1
2,1239420,APROVADO POR NOTA,abaac7a4a42d03417f81b1455442607a,6.3,4.5,2015.1

In [43]:
qtdd_alunos_lp2_u1_df = len(alunos_lp2_u1_df)
print("A quantidade de alunos de lp2 total foi: ",qtdd_alunos_lp2_u1_df)

A quantidade de alunos de lp2 total foi:  521

In [46]:
## mantendo apenas os alunos que concluiram a disciplina
alunos_lp2_u1 = alunos_lp2_u1_df[alunos_lp2_u1_df['descricao'].str.contains('APROVADO') |
                                      alunos_lp2_u1_df['descricao'].str.contains('REPROVADO')]
qtdd_u1 = len(alunos_lp2_u1)
alunos_lp2_u2 = alunos_lp2_u2_df[alunos_lp2_u2_df['descricao'].str.contains('APROVADO') |
                                      alunos_lp2_u2_df['descricao'].str.contains('REPROVADO')]
alunos_lp2_u3 = alunos_lp2_u3_df[alunos_lp2_u3_df['descricao'].str.contains('APROVADO') |
                                      alunos_lp2_u3_df['descricao'].str.contains('REPROVADO')]
print(alunos_lp2_u1.descricao.unique())
print(qtdd_u1)
alunos_lp2_u1_df.head(3)

['APROVADO POR NOTA' 'REPROVADO POR MÉDIA E POR FALTAS' 'APROVADO'
 'REPROVADO' 'REPROVADO POR NOTA']
332

,id_turma,descricao,discente,media_final,nota,ano_periodo
0,1239420,APROVADO POR NOTA,cbe40ea1cb2d08a912937532829ea391,6.6,6.9,2015.1
1,1239420,REPROVADO POR MÉDIA E POR FALTAS,617302e28daaf9ab54aaae256040ba3f,2.8,5.7,2015.1
2,1239420,APROVADO POR NOTA,abaac7a4a42d03417f81b1455442607a,6.3,4.5,2015.1

In [71]:
alunos_lp2_u1_df['ano_periodo'].unique()

array(['2015.1', '2016.1', '2017.1', '2014.2', '2015.2', '2016.2', '2017.2'], dtype=object)

In [49]:
alunos_trancados = qtdd_alunos_lp2_u1_df - qtdd_u1
print("A quantidade de alunos que trancaram foi: ", alunos_trancados)

A quantidade de alunos que trancaram foi:  189

In [69]:
## Calculando as médias e desvios padrões por unidades
media_lp2 = {'media_geral' : np.mean(alunos_lp2['media_final'].dropna()),
         'media_unidade1' : np.mean(alunos_lp2_u1_df['nota'].dropna()),
         'media_unidade2' : np.mean(alunos_lp2_u2_df['nota'].dropna()),
         'media_unidade3' : np.mean(alunos_lp2_u3_df['nota'].dropna())}
std_lp2 = {'desvio_padrao' : np.std(alunos_lp2['media_final'].dropna()),
       'desvio_padrao_u1' : np.std(alunos_lp2_u1_df['nota'].dropna()),
       'desvio_padrao_u2' : np.std(alunos_lp2_u2_df['nota'].dropna()),
       'desvio_padrao_u3' : np.std(alunos_lp2_u3_df['nota'].dropna())}
medias_lp2 = pd.DataFrame.from_dict(media_lp2,orient='index')
stds_lp2 = pd.DataFrame.from_dict(std_lp2,orient='index')
medias_lp2 = pd.DataFrame.transpose(medias_lp2);
stds_lp2 = pd.DataFrame.transpose(stds_lp2);

medias_lp2_df = pd.concat([medias_lp2,stds_lp2],axis=1)
medias_lp2_df = medias_lp2_df.dropna()
medias_lp2_df

,media_geral,media_unidade1,media_unidade2,media_unidade3,desvio_padrao,desvio_padrao_u1,desvio_padrao_u2,desvio_padrao_u3
0,5.956897,6.002697,4.009381,5.202586,2.206751,2.496208,3.348419,3.357804

In [66]:
## Calculando as medianas e desvios padrões por unidades
mediana_lp2 = {'mediana_geral' : np.median(alunos_lp2['media_final'].dropna()),
         'mediana_unidade1' : np.median(alunos_lp2_u1_df['nota'].dropna()),
         'mediana_unidade2' : np.median(alunos_lp2_u2_df['nota'].dropna()),
         'mediana_unidade3' : np.median(alunos_lp2_u3_df['nota'].dropna())}
medianas_lp2 = pd.DataFrame.from_dict(mediana_lp2,orient='index')
medianas_lp2 = pd.DataFrame.transpose(medianas_lp2);

medianas_lp2_df = pd.concat([medianas_lp2],axis=1)
medianas_lp2_df = medianas_lp2_df.dropna()
medianas_lp2_df

   mediana_geral  mediana_unidade1  mediana_unidade2  mediana_unidade3
0            6.4               6.6               4.7               5.9

# Fazer um gráfico de linhas com as medias (geral, u1, u2 e u3)
# Fazer um gráfico de linhas com as medianas (geral, u1, u2 e u3)

# Aprovação/reprovação em cada semestre
# Gráficos de linhas com medias e medianas para cada semestre